body {
    color: #4c4c4c;
    font-family: "Frutiger Thin", sans-serif;
    box-sizing: border-box;
    height: 100%;

    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1 {
    font-family: "Frutiger Thin", sans-serif;
    margin-bottom: 0.5em;
    font-size: 2em;
}

h2, .bootstrap-dialog-title {
    font-family: "Frutiger Thin", sans-serif;
    margin-bottom: 0.5em;
    font-size: 1.8em;

    color: rgb(56, 84, 113);
}

h3 {
    font-family: "Frutiger Thin", sans-serif;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

a {
    color: rgb(45, 101, 161);
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: rgb(56, 84, 113);
    text-decoration: none;
}

table {
    width: 100%;
    margin-bottom: 0;
}

/*
colors:
    background: rgb(255, 255, 255);
    light-grey (secondary text, borders): rgb(183, 186, 199);
    grey (text): rgb(80, 83, 88);
    menu: rgb(241, 241, 244);

    link (link & disabled button): rgb(45, 101, 161);
    link.active: rgb(56, 84, 113);

    button (primary color): rgb(56, 84, 113);
    button (primary color replacement): rgb(186, 197, 227);
    button.active: rgb(43, 67, 92);
*/

hr {
    border-color: rgb(183, 186, 199);
}

input, select, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 15px;
    color: rgb(80, 83, 88);
    outline: none;
    line-height: inherit !important;
    border: solid 1px rgb(183, 186, 199);
    border-radius: 1px;

    -webkit-transition: border 0.3s ease-in-out;
    -moz-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}

input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
    border-color: rgb(80, 83, 88);
}

input[type=checkbox] {
    height: 23px;
}

input[type=file] {
    padding: 8px;
}

input.searchinput {
    margin: 0;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

input[type=submit] {
    color: rgb(255, 255, 255);
    background: rgb(56, 84, 113);
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus {
    color: rgb(255, 255, 255);
    background: rgb(43, 67, 92);
}

input[type=submit].disabled,
form.submitting input[type=submit]{
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none;
}

label {
    font-weight: normal;
    cursor: pointer;
}

/* GENERAL CLASSES */

.border-bottom {
    border-bottom: solid 1px rgb(183, 186, 199);
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/* MAIN STYLES */
#loadingbar {
    background-color: rgb(186, 197, 227);
    z-index: 3000;
    position: absolute;
    top: 0;
    left: 0;
}

#loadingbar.active {
    height: 3px;
}

#loadingbar.finished {
    width: 100%;
}

.arrow-top {
    display: inline-block;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgb(186, 197, 227) url(../images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
}

.arrow-top.arrow-is-visible, .arrow-top.arrow-fade-out, .arrow-top:hover {
    -webkit-transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, background .3s 0s, visibility 0s .3s;
}

.arrow-top.arrow-is-visible {
    visibility: visible;
    opacity: 0.5;
}

.arrow-top.arrow-fade-out {
    opacity: .5;
}

.arrow-top:hover,
.arrow-top:focus,
.arrow-top:active {
    opacity: 1;
    background-color: rgb(56, 84, 113);
}

@media only screen and (max-width: 991px) {
    .arrow-top {
        right: 20px;
        bottom: 20px;
        height: 40px;
        width: 40px;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-left: 1px solid rgb(186, 197, 227);
}

::-webkit-scrollbar-thumb {
    background: rgb(186, 197, 227);
    opacity: 0.8;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(186, 197, 227);
    opacity: 0.8;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 84, 113);
    opacity: 1;
}

header {
    background-color: #ffffff;
    border-bottom: solid 1px rgb(183, 186, 199);
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1000;
}

header .brand {
    color: rgb(56, 84, 113);
    margin-top: 10px;
    width: 111px;
    height: 33px;
}

header .application {
    color: rgb(80, 83, 88);
    text-align: center;
    margin-top: 12px;
}

header.no-menu .application {
    text-align: right;
}

header .support {
    margin-top: 18px;
    text-align: right;
}

#topbar {
    margin: 110px 0 20px
}

.center-content-wrapper {
    margin-top: 110px;
}

.primary-menu {
    background: rgb(241, 241, 244);
    border-bottom: solid 1px rgb(183, 186, 199);
}

#tab-content-slider {
    margin: 20px 0;
}

.endspacer {
    height: 500px;
}

.modal-backdrop {
    background: #ffffff;
    opacity: 0.6;
}

.modal-content {
    background: rgb(255, 255, 255);
    color: rgb(80, 83, 88);
    border-radius: 0;
    box-shadow: none;
    border: solid 1px rgb(183, 186, 199);
}

/* Tiles / Menu */
.primary-menu-items {
    float: left;
}

.secondary-menu-items {
    float: right;
}

.primary-menu-items .tiles li {
    border-right: solid 1px rgb(255, 255, 255);
}

.secondary-menu-items .tiles li {
    border-left: solid 1px rgb(255, 255, 255);
}

.submenu-items {
    background: #ffffff;
}

.menu-toggle {
    display: none;
}

.tiles {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 105px;
}

.tiles li {
    float: left;
    border-top: solid 2px rgba(255, 255, 255, 0);
}

.tiles li a {
    text-align: center;
    color: rgb(80, 83, 88);

    padding: 0 20px 28px 20px;
    display: block;
    font-size: 20px;
}

.tiles li:hover,
.tiles li:focus,
.tiles li:active,
.tiles li.active:hover,
.tiles li.active:focus,
.tiles li.active:active {
    border-top: solid 2px rgb(186, 197, 227);
    color: rgb(80, 83, 88);
}

.tiles li.active {
    border-top: solid 2px rgb(56, 84, 113);
    background: #ffffff;
}

.tiles span {
    font-size: 40px;
    margin: -5px;
    display: block;
}

.tiles [class^="flaticon-"]:before,
.tiles [class*=" flaticon-"]:before,
.tiles [class^="flaticon-"]:after,
.tiles [class*=" flaticon-"]:after {
    font-size: 40px;
}

.oneline-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 42px;
}

.oneline-nav li {
    float: left;
    border-right: solid 1px rgb(241, 241, 244);
}

.oneline-nav li a {
    text-align: center;
    color: rgb(80, 83, 88);

    padding: 10px;
    display: block;
    font-size: 14px;

    text-decoration: none;
}

.oneline-nav li:hover,
.oneline-nav li:focus,
.oneline-nav li:active {
    text-decoration: underline;
    color: rgb(80, 83, 88);
}

.oneline-nav li.active {
    font-family: "Frutiger Regular", sans-serif;
}

.tilebutton {
    border: none;
    display: block;
    color: rgb(56, 84, 113);
    text-align: center;
    border-radius: 0;
    padding: 12px;
}

.tilebutton.onlyicon {
    font-size: 0;
}

/* primary layout */
.content {
    background: rgb(255, 255, 255);
    padding: 26px 20px;
    margin-bottom: 15px;
}

.right-content {
    padding-right: 0;
    float: right;
}

.footer-info {
    padding: -10px 5px;
}

.content .footer-info {
    margin: 0;
}

/* table */
table.sortable thead th a {
    cursor: pointer;
    color: rgb(56, 84, 113);
    font-weight: bold;
}

table thead tr th.buttons1 {
    width: 48px;
}

table thead tr th.buttons2 {
    width: 90px;
}

table thead tr th.buttons3 {
    width: 130px;
}

table td .btn-group {
    margin: -10px;
}

table .tilebutton {
    padding: 2px 6px;
    float: left;
}

textarea.interactive {
    height: 50px;
}

textarea.expanded {
    height: auto;
    min-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

.btn {
    padding: 10px 12px;
}

.btn-group a {
    float: left;
}

.btn-group:last-child {
    float: right;
}

form.no-replace > * {
    position: relative;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    opacity: 1;
}

form.no-replace.submitting > * {
    opacity: 0;
}

form.no-replace input[type=submit] {
    margin-bottom: 0;
}

form.no-replace .no-replace-loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;

    opacity: 0;
}

form.no-replace .no-replace-loading-content img {
    width: 50px;
    height: 50px;
}

form.no-replace.submitting .no-replace-loading-content{
    opacity: 1;
}

/* bootstrap extension */
@media (min-width: 992px) {
    .col-md-mg-1, .col-md-mg-2, .col-md-mg-3, .col-md-mg-4, .col-md-mg-5, .col-md-mg-6, .col-md-mg-7, .col-md-mg-8, .col-md-mg-9, .col-md-mg-10, .col-md-mg-11, .col-md-mg-12 {
        float: left;
    }

    .col-md-mg-12 {
        width: calc(100% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-11 {
        width: calc(91.66666667% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-10 {
        width: calc(83.33333333% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-9 {
        width: calc(75% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-8 {
        width: calc(66.66666667% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-7 {
        width: calc(58.33333333% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-6 {
        width: calc(50% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-5 {
        width: calc(41.66666667% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-4 {
        width: calc(33.33333333% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-3 {
        width: calc(25% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-2 {
        width: calc(16.66666667% - 10px);
        margin-right: 15px;
    }

    .col-md-mg-1 {
        width: calc(8.33333333% - 10px);
        margin-right: 15px;
    }
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.content.no-gutters {
    margin: 0;
    padding: 10px 0;
    float: none;
}

@media (max-width: 991px) {

    body {
        width: 100%;

        transition: margin-left 0.3s ease-in-out;
    }

    .mobile-container {
        overflow-x: hidden;
    }

    .endspacer {
        height: 50px;
    }

    .content {
        border-bottom: solid 1px rgb(183, 186, 199);
        padding: 10px;
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .right-content {
        width: 100%;
        padding-left: 0;
    }

    .message {
        position: relative;
    }

    .message > div.col-md-11 {
        padding: 5px;
    }

    .message > div.col-md-1 {
        position: absolute;
        right: 0;
        top: 13px;
    }

    header {
        height: 90px;
        position: static;
    }

    header > .container,
    header > .col-md-3 {
        padding-left: 0;
    }

    header .menu-toggle {
        position: absolute;
        display: block;
        z-index: 1;
        margin-top: -2px;
        left: 0;
        height: 90px;
    }

    body.menu-expanded header .menu-toggle li a {
        border-top: solid 2px rgb(56, 84, 113);
        padding: 0 20px 13px 20px;
        outline: none;
    }

    header .brand {
        display: none;
    }

    header .support {
        position: absolute;
        margin-top: 32px;
        right: 0;
    }

    header .application {
        position: absolute;
        margin-top: 28px;
        width: 100%;
        text-align: center;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: opacity 0.3s, ease-in-out;
        -moz-transition: opacity 0.3s, ease-in-out;
        -ms-transition: opacity 0.3s, ease-in-out;
        -o-transition: opacity 0.3s, ease-in-out;
        transition: opacity 0.3s, ease-in-out;
    }

    @media (max-width: 767px) {
        header .application {
            left: -84%;
            width: 80%;
            text-align: right;
        }
    }

    header.no-menu .application {
        left: 0;
        width: 100%;
        text-align: center;
    }

    #tab-content-slider {
        -webkit-transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        -moz-transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        -ms-transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        -o-transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        transition: opacity 0.3s, ease-in-out, margin-left 0.3s, ease-in-out;
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }

    #tab-content-slider > div.container,
    .center-content-wrapper > div.container {
        padding: 0;
    }

    .center-content-wrapper {
        margin-top: 10px;
    }

    #topbar {
        position: absolute;
        margin: 0;
        width: 80%;
        border-right: solid 1px rgb(183, 186, 199);
        border-bottom: solid 1px rgb(183, 186, 199);

        opacity: 0;
        -webkit-transition: opacity 0.3s, ease-in-out;
        -moz-transition: opacity 0.3s, ease-in-out;
        -ms-transition: opacity 0.3s, ease-in-out;
        -o-transition: opacity 0.3s, ease-in-out;
        transition: opacity 0.3s, ease-in-out;
    }

    body {
        overflow-x: hidden;
    }
    
    body.menu-expanded footer {
        opacity: 1;
    }

    body.menu-expanded #tab-content-slider {
        margin-left: 80%;
    }

    body.menu-expanded #tab-content-slider {
        opacity: 0.6;
    }

    body.menu-expanded #topbar {
        opacity: 1;
    }

    #topbar .container {
        width: auto;
        padding: 0;
    }

    .tilebutton {
        background-color: rgb(56, 84, 113);
        color: #ffffff;
        margin-left: 4px;
    }

    .tilebutton:active,
    .tilebutton:focus,
    .tilebutton:hover {
        color: #ffffff;
        background-color: rgb(186, 197, 227);
    }

    table td .btn-group {
        margin: -4px;
    }

    .secondary-menu-items {
        position: absolute;
        top: -90px;
        left: 90px;
    }

    .tiles li a {
        padding: 0 20px 11px 20px;
    }

    .primary-menu-items {
        float: none;
    }

    .primary-menu-items .tiles {
        height: auto;
    }

    .primary-menu-items .tiles li {
        float: none;
    }

    .primary-menu-items .tiles li a {
        display: block;
        padding: 14px 0;
    }

    .primary-menu-items .tiles span {
        display: inline;
        margin: 0 10px 0 -5px;
    }

    @media (max-width: 500px) {
        header .application {
            font-size: 1.5em;
        }
    }
}

.green,
.info {
    background-color: rgb(208, 255, 208);
}

.greenbefore:before {
    color: rgb(0, 192, 0);
}

.yellow,
.user-error {
    background-color: rgb(255, 239, 208);
}

.yellowbefore:before {
    color: rgb(240, 160, 0);
}

.red,
.system-error {
    background-color: rgb(255, 208, 208);
}

.redbefore:before {
    color: rgb(240, 0, 0);
}